*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #FFFBF5;
}

main{
  max-width: ;width: 95%;
  min-height: auto;
  margin: auto;
  background-color: #d5983b;
}

